<div id="checkoutBgImage">
    <div class="invisible-navbar">
    </div>
    <button class="checkout-homebutton"><a href="index.html">HOME</a></button>

    <h1 class="galley-checkout-title">Bikini Bottom Booking Checkout!</h1>
    <br>

    <div class="order-summary-tile">
        <h2 class="order-title">YOUR ORDER</h2>
        <img src="./images/Patrick1.png" class="patrick-icon">

        {{!-- {{order}} goes here --}}


        <h3 class="order-total">TOTAL: </h2>
    </div>

</div>

</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="./js/app.js"></script>