<div id="checkoutBgImage">
    <div class="invisible-navbar">
    </div>
    <button class="checkout-homebutton"><a href="/">HOME</a></button>

<h1 class="galley-checkout-title">Bikini Bottom Booking Checkout!</h1>
<br>
<!-- code goes here -->

</div>