
    <div class="navbar">
        <h3 class="pineapple-icon" onclick="squarePants()">🍍</h3>
        {{!-- the decider class is no longer used --}}
        <div class="decider">
        {{#if logged_in}}
        <h3 class="logged-in-confirm">You Are Logged In!</h3>
        <p class="login-note">Please Look Forward To Our Many Specials, Local Business Promotions, and Bikinicoin
            Opportunities In Your Email!!</p>
        {{else}}
        <h3 class="logged-in-disconfirm">logging in has many benefits!</h3>
        {{/if}}

        </div>
        <button class="logoutBtn" onclick="stankNoise()">Logout</button>
    </div>

<div class="bgImage">
    <div class="title-row-container">
        <!-- hidden element to make aligning the title row easier -->

   {{#if logged_in}}
   <div class="aligner none">
            {{else}}
        <div class="aligner">
            {{/if}}
            <h1>Hidden Text</h1>
        </div>
        <h1 class="frontpage-title" onclick="sadSong()">Bikini Bottom<br>Booking Bonanza!!!</h1>


   {{#if logged_in}}
           <div class="frontpage-input-tile none">
            {{else}}
        <div class="frontpage-input-tile">
            {{/if}}
            <div class="input-fields-column">
                <input type="text" placeholder="🌴 login with email" class="login-field">
                <input type="password" placeholder="🦀 password" class="password-field">
                <div class="button-row">
                    <button class="login-button" onclick="booWomp()">Login</button>
                    <button class="sign-up-button" onclick="booWomp()">Sign Up</button>
                </div>
            </div>
            <div class="password-retrieval-text-row">
                <p class="password-forgot">Forgot your password?
                <div class="password-click-here" onclick="garyMeow()">Click here!</div>
                </p>
            </div>
        </div>
    </div>

    <!-- Restaurant Fancy Tile Links Here -->
    <div id="restaurant-choice" class="row">
        <a href="/krustykrab" class="krusty-krab">
            <h2>The<br><strong>Krusty<br>Krab</strong></h2>
        </a>
        <a href="/chumbucket" class="chum-bucket">
            <h2>
                <div id="theCB">T<small><strong>HE</strong></small></div>
                ChUM<br>B<small><strong>UC</strong></small></small>KET
            </h2>
        </a>
    </div>

    <!-- Pop Up Modal Stuff for Signing Up Here -->

    <div id="signUpTile" class="signup-popup">

        <div class="sign-up-message">
            <div class="close-popup"> ✕</div>
            <p>Sign Up Today! Please Tell Us Who's<br>Ordering and Enter Your Email 🐠</p>
            <div class="signup-column">
                <input type="text" class="sign-up-username-field" placeholder="🦞 please enter your name" />
                <input type="email" class="sign-up-email-field" placeholder="🍍 enter your email" />
                <input type="password" class="sign-up-password-field" placeholder="🦑 enter a password" />
                <button class="sign-up-submit-btn">Submit</button>
            </div>
        </div>
    </div>
    
    <div id="passwordRetrieveTile" class="pw-retrieval-popup">

        <div class="password-retrieve-message">
            <img src="./images/Patrick1.png" class="patrick-icon2">
            <div class="close-pw-popup"> ✕</div>
            <p>Please Enter Your Email<br>to Retrieve Your Password</p>
            <h4>/!\This Feature is for/!\<br>Future Development</h4>
            <div class="pw-retrieval-row">
                <input type="email" class="pw-retrieval-email-field" placeholder="🦐 enter your email" />
                <button class="pw-retrieval-submit-btn" onclick="garyMeow()">Submit</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="./js/howler.js"></script>
<script src="./js/app.js"></script>