html {
    /* position: relative; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bgImage {
    background-size: cover;
    min-height: 70rem;
    width: 100%;
    background-image: url("../images/frontpage_bg2c.png");
}

/* #f7f74f */

.navbar {
    position: relative;
    height: 3.6rem;
    /* width: 100%; */
    background: linear-gradient(0.515turn, #ebff39, rgba(90, 137, 178, 0) 12%),
        linear-gradient(0.58turn, #ebff39, rgba(90, 137, 178, 0) 11%),
        linear-gradient(#4b83b4, #5a89b2, #aed1ef);
    opacity: 0.875;
    border-bottom: 2px solid #525252;
}

.pineapple-icon {
    margin-left: -0.4rem;
    margin-top: -0.15rem;
}

.pineapple-icon:hover {
    transform: rotate(3600deg);
  
    transition: 12s;
    cursor: crosshair;
    margin-top: 0.75rem;
    margin-left: 0.25rem;
    font-size: 4rem;
}

.title-row-container {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.aligner {
    visibility: hidden;
    display: flex;
    flex: wrap;
    margin-left: 1rem;
    width: 22rem;
    border: 1px solid black;
}

.frontpage-title {
    display: flex;
    flex: wrap;
    color: #1556b8;
    text-align: center;
    font-family: 'Courgette', Arial, Helvetica, sans-serif;
    min-width: 20rem;
    font-size: 4.5rem;
    font-weight: 600;
    padding-top: 2%;
    margin: 0 auto;
    /* margin-left: 6rem;
    margin-right: 0rem; */
    text-shadow: 2px 2px 2px #69839e, 4px 4px 4px #829ebd;
    opacity: 0;
    animation: appear 3.2s ease forwards;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.frontpage-title:hover {
    transition: 8s;
    color: #115cbf;
    text-shadow: 0 0 1px #0a769a, 0 0 2px #0a769a, 0 0 4px #0a769a,
     0 0 8px #0a769a, 0 0 12px #0a769a, 0 0 16px #0a769a, 0 0 24px #000000;
    rotate: 18deg;
    cursor: crosshair;
    padding-top: 0%;
}

.frontpage-input-tile {
    margin-top: 2rem;
    margin-right: 1rem;
    font-size: 1.2rem;
    height: 12rem;
    width: 22rem;
    background: linear-gradient(0.45turn, #377ca1 5%, #a2d2eb, #f4f9fc);
    border: 1px solid #53717a;
    border-radius: 1.5rem;
    opacity: 0;
    animation: appear 2.2s ease forwards;
    transition: 1.2s;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.9;
    }
}

.input-fields-column {
    display: flex;
    flex-direction: column;
    margin: 0.5rem auto 0 auto;
}

.login-field {
    background: #f2f5f6;
    font-size: 1.2rem;
    width: fit-content;
    min-width: 18rem;
    /* position: absolute; */
    margin-left: 2rem;
    border-radius: 0.4rem;
    border: 1px solid #4e5761;
    padding-left: 0.75rem;
    padding-bottom: 0.2rem;
    margin-top: 0.75rem;
}

.login-field:hover {
    background: #ffffff;
}

.password-field {
    background: #f2f5f6;
    font-size: 1.2rem;
    width: fit-content;
    min-width: 18rem;
    /* position: absolute; */
    margin-left: 2rem;
    border-radius: 0.4rem;
    border: 1px solid #4e5761;
    padding-left: 0.75rem;
    padding-bottom: 0.2rem;
    margin-top: 0.25rem;
}

.password-field:hover {
    background: #ffffff;
}


.button-row {
    margin-top: 0.5rem;
    margin-left: 2rem;
}

.login-button {
    color: #ececec;
    font-weight: 600;
    background: linear-gradient(#0752f5, #7d9ee7);
    font-size: 1.2rem;
    width: fit-content;
    min-width: 5rem;
    border: 2px solid #343435;
    border-radius: 0.35rem;
    padding-bottom: 0.25rem;
}

.login-button:hover {
    color: #292929;
    background: linear-gradient(#6495ff, #c8daff);
    box-shadow: 0 0 1px #4d6b75, 0 0 2px #4d6b75, 0 0 4px #4d6b75, 0 0 6px #4d6b75;
    text-shadow: 0 0 1px #354950, 0 0 2px #4d6b75;
    text-decoration: none;
}

.sign-up-button {
    color: #1d1d1d;
    font-weight: 600;
    font-size: 1.2rem;
    background: linear-gradient(#e4ad16, #f7e867);
    width: fit-content;
    min-width: 5rem;
    align-self: center;
    margin-left: 0.2rem;
    border-radius: 0.35rem;
    padding-bottom: 0.25rem;
}

.sign-up-button:hover {
    color: #292929;
    background: linear-gradient(#fff453, #fff7d3);
    box-shadow: 0 0 1px #4d6b75, 0 0 2px #4d6b75, 0 0 4px #4d6b75, 0 0 6px #4d6b75;
    text-shadow: 0 0 1px #6b6d4d, 0 0 2px #95977a;
    text-decoration: none;
}

.password-retrieval-text-row {
    margin-left: 1.7rem;
    display: flex;
    flex-direction: row;
}

.password-forgot,
.password-click-here {
    margin-left: 0.3rem;
    font-size: 0.9rem;
    margin-top: 0.25rem;
    color: #1d1d99;
    text-shadow: 1px 1px 1px #93b2d4;
}

.password-click-here:hover {
    color: #5959d3;
    font-weight: 600;
    text-shadow: 1px 1px 1px #5f84ad, 0px 0px 2px #8db5e2;
    text-decoration: underline;
    cursor: pointer;
}


#restaurant-choice {
    width: 100%;
    margin-top: 8%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.krusty-krab {
    color: #660000;
    text-align: center;
    margin-left: 4rem;
    font-family: 'Shadows Into Light', 'Gothic Medium', Arial, sans-serif;
    background: linear-gradient(#e4e4e4 5%, #f7f7f7 65%, #d789da 95%);
    /* display: flex; */
    height: 20rem;
    width: 36rem;
    max-width: 25%;
    min-width: 12rem;
    margin-right: 1.5rem;
    padding-top: 1rem;
    /* margin-left: 15rem; */
    /* margin-top: 4%; */
    border-radius: 7.2rem;
    border: 1px solid #4f729b;
    box-shadow: 3px 3px 3px #8699af;
    opacity: 0;
    animation: appear 1.4s ease forwards;
    transition: 1.8s;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.krusty-krab:hover {
    background: linear-gradient(#ffffff 5%, #ffffff 70%, #fcb3ff 95%);
    box-shadow: 4px 4px 4px #626d7a, 4px 6px 6px #626d7a;
    border: 2px solid #614148;
    color: #911631;
    text-shadow: 0 0 1 px #64112d, 0 0 2px #64112d, 0 0 4px #64112d, 0 0 6px #64112d;
    text-decoration: none;
    rotate: 360deg;
}

.krusty-krab h2 {
    font-size: 5rem;
    line-height: 5rem;
    margin: auto;
    margin-top: 0.8rem;
}

.krusty-krab h2:hover {
    font-size: 5.25rem;
}

.chum-bucket {
    background: linear-gradient(0.4turn, #4e4e4e 20%, #d4d4d4 70%, #808080 98%);
    text-align: center;
    font-size: 6rem;
    /* margin-right: 15rem; */
    /* margin-top: 4%; */
    font-family: 'Patua One', 'Gothic Medium', Arial, sans-serif;
    margin-left: 1.5rem;
    padding-top: 0.75rem;
    height: 20rem;
    width: 36rem;
    max-width: 25%;
    min-width: 12rem;
    border: 0.35rem black;
    border-style: ridge;
    border-radius: 0 0 3rem 3rem;
    box-shadow: 3px 4px 4px #647589;
    animation: appear 1.4s ease forwards;
    transition: 1.8s;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.chum-bucket h2 {
    font-size: 5rem;
    line-height: 6rem;
    margin: auto;
    /* margin-top: 0.8rem; */
    color: #ff3535;
    text-shadow: 0 0 1px black, 0 0 2px black, 0 0 4px black, 0 0 6px black;
}

.chum-bucket:hover {
    background: linear-gradient(0.4turn, #5e5e5e 18%, #ebebeb 70%, #888888);
    box-shadow: 3px 4px 4px #626d7a, 4px 6px 6px #626d7a;
    border: 0.45rem black;
    border-style: ridge;
    color: #911631;
    text-shadow: 0 0 1 px #64112d, 0 0 2px #64112d, 0 0 4px #64112d, 0 0 6px #64112d;
    box-shadow: 3px 4px 4px #647589, 1 2 6px #647589, 2 3 8px #7e858d;
    text-decoration: none;
    rotate: -360deg;
}

.chum-bucket h2:hover {
    font-size: 5.1rem;
    text-shadow: 0 0 1px black, 0 0 2px black, 0 0 4px black, 0 0 6px black, 0 0 8px rgb(75, 75, 75);
}

#theCB {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 0.8rem;
}


/* Sign-Up pop-up modal stuff */

/* #signUpTile {
    display: none;
} */

.signup-popup {
    display: hidden;
    position: fixed;
    padding-top: 15rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #06244459;
}


.sign-up-message {
    line-height: 1.5rem;
    background: linear-gradient(0.48turn, #87b1e9, #f4f9fd);
    border-radius: 15px;
    margin: auto;
    padding: 1.75rem 2rem 1rem 2rem;
    border: 4px solid #5a6164;
    width: 30rem;
    height: 16.5rem;
    justify-content: space-around;
}

.sign-up-message p {
    text-align: center;
    color: #2a2a2e;
    font-size: 1.2rem;
    font-weight: 600;
    text-shadow: 2px 2px 2px #b9cde6;
    margin-bottom: 0.75rem;
}

.signup-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sign-up-username-field,
.sign-up-email-field,
.sign-up-password-field {
    background: #f6fafb;
    font-size: 1rem;
    line-height: 1.35rem;
    width: 20rem;
    border-radius: 0.5rem;
    padding: 0.3rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
}

.sign-up-username-field:hover,
.sign-up-email-field:hover,
.sign-up-password-field:hover {
    background: #ffffff;
}

.sign-up-submit-btn {
    font-size: 1.5rem;
    font-weight: 600;
    background: linear-gradient(#66b7d2, lightblue);
    border: 2px solid #4f729b;
    border-radius: 0.9rem;
    padding: 0.2rem 0.2rem 0.4rem 0.2rem;
    margin-top: 0.25rem;
    margin-left: auto;
    margin-right: auto;
    width: 6rem;
}

.sign-up-submit-btn:hover {
    color: #e9f6fa;
    background: linear-gradient(#66b7d2, #5c85b3);
    border: 3px solid #414b57;
    text-shadow: 0 0 2px #5c85b3;
    padding: 0.2rem 0.25rem 0.4rem 0.25rem;
    box-shadow: 2px 2px 2px #6d8db1;
}

/* The Close Button */
.close-popup {
    color: #828c9c;
    float: right;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: -1.15rem;
    margin-right: -1.15rem;
}

.close-popup:hover,
.close-popup:focus {
    color: #42464b;
    text-shadow: 0 0 1px #708090, 1px 1px 1px #708090;
    text-decoration: none;
    cursor: pointer;
}

.pw-retrieval-popup {
    display: hidden;
    position: fixed;
    padding-top: 15rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #06244459;
}

.password-retrieve-message {
    line-height: 1.5rem;
    background: linear-gradient(0.48turn, #e3e987, #fcfdf4);
    border-radius: 15px;
    margin: auto;
    padding: 1.25rem 1.75rem 1rem 1.75rem;
    border: 4px solid #64645a;
    width: 30rem;
    height: 14rem;
    justify-content: space-around;
}

.password-retrieve-message p {
    text-align: center;
    color: #202021;
    font-size: 1.2rem;
    font-weight: 600;
    text-shadow: 2px 2px 2px #b9cde6;
    margin-bottom: 0.75rem;
}

.password-retrieve-message h4 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: #001a8c;
    text-shadow: 2px 2px 2px #9fa078;
}


.pw-retrieval-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pw-retrieval-email-field {
    background: #f6fafb;
    font-size: 1.5rem;
    width: 16rem;
    border-radius: 0.5rem;
    padding: 0.3rem;
    margin-top: 0.25rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
}

.pw-retrieval-email-field:hover {
    background: #ffffff;
}

.pw-retrieval-submit-btn {
    font-size: 1.4rem;
    font-weight: 600;
    background: linear-gradient(#e9e966, #f7f7d4);
    border: 2px solid #4f729b;
    border-radius: 0.9rem;
    padding-bottom: 0.2rem;
    margin-top: 0.25rem;
    margin-left: auto;
    margin-right: auto;
    height: 2.75rem;
    width: 6rem;
}

.pw-retrieval-submit-btn:hover {
    color: #171710;
    background: linear-gradient(#fbfb51, #e3e39b);
    border: 3px solid #414b57;
    text-shadow: 0 0 2px #5c85b3;
    padding: 0.2rem 0.25rem 0.4rem 0.25rem;
    box-shadow: 2px 2px 2px #6d8db1;
}


.close-pw-popup {
    color: #828c9c;
    float: right;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: -1.15rem;
    margin-right: -1.15rem;
}

.close-pw-popup:hover,
.close-pw-popup:focus {
    color: #42464b;
    text-shadow: 0 0 1px #708090, 1px 1px 1px #708090;
    text-decoration: none;
    cursor: pointer;
}